<h1>Make your form here</h1>

<form action="/pirates" method="POST">

  <div><label for="pirate[name]">Pirate name:</label>
  <input type="text" name="pirate[name]"></div>

  <div><label for="pirate[height]">Pirate height:</label>
  <input type="text" name="pirate[height]"></div>

  <div><label for="pirate[wight]">Pirate weight:</label>
  <input type="text" name="pirate[weight]"></div>

  <div><label for="pirate[ships][][name]">Ship 1 Name:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"></div>

  <div><label for="pirate[ships][][type]">Ship 1 Type:</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]"></div>

  <div><label for="pirate[ships][][booty]">Ship 1 Booty:</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></div>

  <div><label for="pirate[ships][][name]">Ship 2 Name:</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]"></div>

  <div><label for="pirate[ships][][type]">Ship 2 Type:</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"></div>

  <div><label for="pirate[ships][][booty]">Ship 2 Booty:</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></div>

  <div><input type="submit" value="Submit"></div>

</form>
